@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
}

.fade-out {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fadeOut;
}