@keyframes blink {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity 1s;
    opacity: 1;
}

.fade-enter-active {
    transition-delay: 1s;
}

.fade-appear-active {
    transition-delay: 0.3s;
}

.fade-exit {
    transition: opacity 1s;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
