@mixin hcenter() {
	position: absolute;
	left: 50%;
	transform: translate3d(0,0,0) translateX(-50%);
}

@mixin vcenter() {
	position: absolute;
	top: 50%;
	transform: translate3d(0,0,0) translateY(-50%);
}

@mixin center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(0,0,0) translate(-50%, -50%);
}

@mixin fade($value) {
	transition: opacity $value;
}

@mixin light() {
	font-weight: 300;
}

@mixin regular() {
	font-weight: 400;
}

@mixin bold() {
	font-weight: 700;
}

@mixin black() {
	font-weight: 900;
	text-transform: uppercase;
}

@mixin regular-bold() {
	font-weight: 600;
}