.app {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    > .content {
        width: inherit;
        height: 90%;
        position: relative;
        z-index: 2;
        top: 5%;
    }
}
