.footer {
    height: auto !important;
    position: fixed;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;

    .icon-heart {
        width: 9px;
        margin: 0px 4px 0 3px;
    }

    p {
        color: #999;
    }

    .nnehl {
        border-bottom: 1px solid white;
        margin-left: 3px;
    }
}
