.menu {
    @include vcenter();
    left: -110px;
    z-index: 200;
}

.icon {
    cursor: pointer;
    position: relative;

    .icon-foreground {
        margin-top: -2px;
        @include center();
        z-index: 2;
        transition: 0.3s opacity;
    }

    .icon-background {
        width: 70px;
        z-index: 1;
        transition: 0.3s opacity;
    }
}

.icon.disabled {
    .icon-foreground,
    .icon-background {
        opacity: 0.2;
    }
}

.icon-save {
    margin-top: 60px;

    .icon-foreground {
        width: 28px;
    }
}

.icon-switch .icon-foreground {
    width: 45px;
    margin-top: -6px;
    margin-left: -4px;
}

.icon-loadout .icon-foreground {
    width: 40px;
    margin-left: 3px;
    margin-top: -1px;
}

.icon-players .icon-foreground {
    width: 36px;
    margin-top: -2px;
    margin-left: 1px;
}

.icon-new .icon-foreground {
    width: 44px;
    margin-left: 1px;
    margin-top: -4px;
}

.icon-edit .icon-foreground {
    width: 45px;
    margin-left: 0px;
    margin-top: -4px;
}
