.player-selector {
    display: inline-block;
    @include center();
    width: 590px;

    .title {
        margin-bottom: 10px;
    }

    .players {
    }

    .player {
        float: left;
        cursor: pointer;
        position: relative;

        .outline {
            position: absolute;
            z-index: 3;
            opacity: 0;
            transition: opacity 0.3s ease-in;
            width: 100%;
            height: 100%;

            img {
                transition: transform 0.6s;
                position: absolute;
            }

            .top,
            .left {
                top: 0;
                left: 0;
            }

            .bottom {
                left: 0;
                bottom: 0;
            }

            .right {
                right: 0;
                top: 0;
            }

            $scale: 0.5;

            .top,
            .bottom {
                width: 100%;
                left: 50%;
                transform: translateX(-50%) scaleX($scale);
            }

            .right,
            .left {
                height: 100%;
                width: auto;
                top: 50%;
                transform: translateY(-50%) scaleY($scale);
            }

            .bottom {
                transform: translateX(-50%) scaleX(-$scale) scaleX();
            }

            .right {
                transform: translateY(-50%) scaleY(-1) scaleY($scale);
            }
        }

        &:hover .outline {
            opacity: 1;

            .top {
                transform: translateX(-50%) scaleX(1);
            }

            .bottom {
                transform: translateX(-50%) scaleX(1);
            }

            .left {
                transform: translateY(-50%) scaleY(1);
            }

            .right {
                transform: translateY(-50%) scaleY(1);
            }
        }

        ul {
            margin-top: 5px;
        }
    }

    .profile {
        width: 138%;
        @include center();
    }
}
