.tooltip {
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    @include vcenter();
    left: 100%;
    pointer-events: none;
    z-index: 100;

    .banner {
        position: relative;
        background-image: url(../images/tooltip-banner.jpg);
        background-color: black;
        background-repeat: no-repeat;
        background-size: 300px;
        background-position: -40px 0px;
        height: 50px;
        @include black();

        h2 {
            @include vcenter();
            padding: 0 17px;
        }
    }

    .body {
        position: relative;

        .text {
            position: relative;
            white-space: nowrap;
            padding: 3px 12px;
            z-index: 2;
        }

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: black;
            z-index: 1;
        }
    }

    &.tooltip-detailed {
        top: 30px;
        width: 420px;
        left: 88%;
        transform: none;

        .body {
            .background {
                opacity: 0.95;
            }

            .text {
                padding: 15px 19px;
                white-space: normal;
                text-transform: none;
                @include regular();
            }
        }

        ul {
            padding-left: 15px;
        }

        .abilities {
            margin-top: 10px;
        }
    }
}

.tooltip-activator {
    &:hover .tooltip {
        opacity: 1;
    }
}