.tooltip {
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    @include vcenter();
    left: 100%;
    pointer-events: none;
    z-index: 100;

    .tooltip-banner {
        position: relative;
        background-color: black;
        background-repeat: no-repeat;
        background-size: 300px;
        background-image: url(../images/template_banner_common.png);
        background-position: -40px 0px;
        height: 50px;
        @include black();

        h2 {
            @include vcenter();
            margin-top: 1px;
            padding: 0 17px;
        }
    }

    .tooltip-banner.uncommon {
        background-image: url(../images/template_banner_uncommon.png);
    }

    .tooltip-banner.rare {
        background-image: url(../images/template_banner_rare.png);
    }

    .tooltip-banner.veryrare {
        background-image: url(../images/template_banner_veryrare.png);
    }

    .tooltip-banner.ultrarare {
        background-image: url(../images/template_banner_ultrarare.png);
    }

    .tooltip-body {
        position: relative;

        .tooltip-text {
            position: relative;
            white-space: nowrap;
            padding: 3px 12px;
            z-index: 2;
        }

        .tooltip-background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: black;
            z-index: 1;
        }
    }

    &.tooltip-detailed {
        top: 30px;
        width: 420px;
        left: 88%;
        transform: none;

        .tooltip-body {
            .background {
                opacity: 0.95;
            }

            .tooltip-text {
                padding: 15px 19px;
                white-space: normal;
                text-transform: none;
                @include regular();
            }
        }

        ul {
            padding-left: 15px;
        }

        .tooltip-abilities {
            margin-top: 10px;
        }
    }
}

.perk-tooltip,
.addon-tooltip,
.item-tooltip,
.offering-tooltip,
.power-tooltip {
    .tooltip-banner {
        height: auto;
        padding: 14px;
        background-position: -120px 0px;
        background-size: auto;

        &.tier2 {
            .ticks .tick1 {
                opacity: 0;
            }
        }
        &.tier1 {
            .ticks .tick1,
            .ticks .tick3 {
                opacity: 0;
            }
        }
    }

    .tooltip-body {
        padding: 19px 18px;
    }

    .ticks {
        top: 50% !important;
        transform: translate(-50%, -50%);

        .tick {
            width: 6px !important;
        }
    }

    .tooltip-title {
        margin-top: 4px;
    }

    .tooltip-subtitle {
        font-weight: 100;
        margin-top: 3px;
        margin-bottom: 0 !important;
    }

    .tooltip-text {
        padding: 0 !important;
    }

    .tooltip-flavor {
        position: relative;
        z-index: 2;
        white-space: normal;
        text-transform: none;
        padding-top: 7px;
        color: #cdc5a5;
        font-size: 0.9em;
        font-style: italic;
    }
}

.tooltip-activator {
    &:hover .tooltip {
        opacity: 1;
    }
}

.show-tooltip {
    .tooltip,
    .tooltip-detailed {
        opacity: 1;
    }
}
