@import '../animations';

.type-selector {
    @include center();
    visibility: hidden;
    opacity: 0;

    .selection:first-child {
        margin-bottom: 10px;
    }

    .selection {
        position: relative;
        cursor: pointer;
    }

    .selection:hover {
        .tooltip {
            opacity: 1;
        }
    }
}